[Unit]
Description=A Flask application run with Gunicorn.
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/lab-sysadmin/application
ExecStart=/home/ubuntu/lab-sysadmin-env/bin/gunicorn --workers 3 --bind unix:application.sock wsgi:app
 
[Install]
WantedBy=multi-user.target
