[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/lab-sysadmin/application
Environment="PATH=/root/lab-sysadmin-env/bin"
ExecStart=/root/lab-sysadmin-env/bin/gunicorn wsgi:app

[Install]
WantedBy=multi-user.target